@import "./partials/header";
@import "./partials/footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.jumbo-container {
    height: 400px;
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
}
