header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}

header img {
  width: 80px;
  height: 80px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav li {
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  line-height: 145px;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}

header nav li a {
  text-decoration: none;
  color: black;
}

header nav li.active,
header nav li:hover {
  border-bottom: 5px solid #0282f9;
  transition: 1s;
}

header nav li.active a,
header nav li:hover a {
  color: #0282f9;
}

.footer-top {
  background-image: url("/images/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 0;
}

.footer-top .container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.footer-top .link-list {
  display: flex;
}

.footer-top .link-list__col {
  margin-right: 3rem;
}

.footer-top .link-list__col h3 {
  color: white;
}

.footer-top li {
  list-style: none;
  line-height: 2rem;
}

.footer-top li a {
  color: grey;
  text-decoration: none;
}

.footer-top li:hover {
  color: #0282f9;
  cursor: pointer;
}

.footer-top img {
  width: 350px;
}

.footer-bottom {
  background-color: #303030;
  height: 150px;
}

.footer-bottom .container {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-bottom .container button.sign-up_button {
  padding: 1.2rem 1.7rem;
  border-color: blue;
  text-transform: uppercase;
  background-color: #303030;
  color: white;
}

.footer-bottom .container .social-links ul {
  display: flex;
}

.footer-bottom .container .social-links ul li {
  margin: 3rem 0.5rem;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.jumbo-container {
  height: 400px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: cover;
}

div.bg-main {
  background-color: rgba(0, 0, 0, 0.893);
}

div.bg-main div.container {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

div.bg-main div.container div.comics-list {
  display: flex;
  flex-wrap: wrap;
}

div.bg-main div.container div.comics-list div.comics-card {
  width: calc(20% - 50px);
  padding-bottom: 1.5rem;
}

div.bg-main div.container div.comics-list div.comics-card h3 a {
  color: white;
  text-decoration: none;
}

