header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 150px;

   img {
      width: 80px;
      height: 80px;
   }

   nav {
      display: flex;
      align-items: center;

      li {
         display: inline-block;
         margin: 0 1rem;
         text-transform: uppercase;
         line-height: 145px;
         border-bottom: 5px solid transparent;
         cursor: pointer;
         a {
            text-decoration: none;
            color: black;
         }

         &.active,
         &:hover {
            border-bottom: 5px solid #0282f9;
            transition: 1s;
            a {
               color: #0282f9;
            }
         }
      }
   }
}